<div class="row text-center">
<div class="col-md-6 offset-1">
    <h1 class=" text-center text-info">Page not found</h1>
<hr />
<a class="btn btn-outline-success" asp-controller="Movie" asp-action="Index">Go to Home Page</a>
</div>
</div>